PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/quickshow
JWT_SECRET=your_jwt_secret_here

CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
INNGEST_EVENT_KEY=your_inngest_event_key
